*,
::before
::after{
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
}

/* cuerpo, titulos y textos */
h1, h2, p{
    margin: 0;
}

body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 4rem;
    font-family: "Varela Round", sans-serif;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rebeccapurple;
    height: 4rem;
    z-index: 10;
}

#shop-icon{
    width: 3rem;
    height: 2rem;
    background-color: #e5e7eb;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3 ease-in;
    color: #747475;
}

#shop-icon:hover{
    background-color: brown;
}

#nav-content{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 0;
    position: relative;
}

#nav-title{
    color: white;
}

.cart{
    position: absolute;
    top: 4rem;
    height: 0;
    right: 0;
    background:linear-gradient(20deg, rgb(199, 192, 192), rgb(249, 249, 255)) ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transition: all 0.3s ease-in;
}

.delete-btn{
    height: 3.6rem;
    width: 3.6rem;
}

table{
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

td{
    height: 6rem;
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid #747475;

}

thead{
    height: 2rem;
    border-bottom: 1px solid #747475;
}

#table-clear { 
    cursor: pointer;
    padding: 1rem;
    background-color: #d42248;
    font-weight: 700;
    margin: 1rem;
    color: #e5e7eb;
    border-radius: 0.5rem;
    border: 0;
    transition: all 0.3s ease-in ;
}

#table-clear:hover{
    background-color: #990505;
}

.show-cart{
    height: 25rem;
    padding-top: 1rem;
}

#hero-icon{
    width: 4rem;
    height: 3rem;
    padding: 0.5rem;
    color: darkmagenta;
}

#hero{
    height: calc(100vh - 4rem);
    background-image: url(img/hero-image.jpg);
    background-position: center;
    background-size: cover;
}

#hero-content {
    height: 100%;
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 1rem;
}

#hero-title{
    font-size: 2.25rem;
    width: 100%;
    text-align: center;
}

#hero-input{
    display: flex;
    background-color: #f0f1f3;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

input{
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.9rem;
}

#hero-subtitle{
    text-align: center;
}

/* seccion de informacion */

#info{
    padding: 1rem;
    background-color: #be185d;
}

#info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    color: white;
    gap: 1rem;
    margin: 0 auto;
}

.info-icon{
    width: 2rem;
    height: 2rem;
}

.info-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}

/* seccion de cursos */

.course-info-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

#courses{
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#courses-container{
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
}

#courses-title{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
/* lista de los cursos */

#courses-list {
    margin: 0;
    padding: 1rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.courses-item {
    background: linear-gradient(rgb(255, 255, 255), rgb(108, 92, 252) );
    border-radius: 0.5rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 2);
}

.course-img {
height: 40%;
}

.course-info {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
}

.course-title, .course-price {
    font-weight: 700;
}

.course-btn {
    padding: 1rem;
    font-weight: 700;
    background-color: #6d1eb2;
    border: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.course-btn:hover {
    background: linear-gradient(rgb(95, 25, 173), blue);
}



.courses-item:hover {
transform: scale(1.05);
}




@media (min-width: 640px){
    .cart{
        width: 50%;
    }

    #hero-content{
        align-items: flex-start;
    }
    #hero-title{
        text-align:start;
    }
    #hero{
        height: calc(50vh - 4rem);
    }

    #info-container{
        flex-direction: row;
    }
    
    .info-div{
        border: none;
    }

    /* listas*/

    .courses-item {
        width: 40%;
    }
    #courses-list{ 
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media(min-width: 1024px) {
    .courses-item {
        width: 30%;
    }

    #corses-list {
        gap: 3rem;
    }
}
